<P> A Python project to Scrap data from ICC Rankings 
    page and get the ranking table for Mens ODI Teams using Selenium webdriver and 
    create a DataFrame using pandas to store the information.<br>
    From DataFrame to, We are saving this data into SQL Database file.
</P>

Link of page- "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [1]:
#Import Libraries
import pandas as pd
from selenium import webdriver

In [2]:
#URL
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [3]:
#Load Webdriver from path
driver = webdriver.Firefox(executable_path="E:\geckodriver\geckodriver.exe")

In [4]:
# Opening the submission url
driver.get(url)

In [5]:
#Finding all tables
all_tables   =  driver.find_element_by_tag_name('tbody')

In [6]:
#Generate lists
A, B, C, D, E = [], [], [], [], []

In [7]:
for row in all_tables.find_elements_by_tag_name('tr'):
    
    cells = row.find_elements_by_tag_name('td')
    
    if len(cells) == 5:
        A.append(cells[0].text.strip())
        B.append(cells[1].text.strip())
        C.append(cells[2].text.strip())
        D.append(cells[3].text.strip())
        E.append(cells[4].text.strip())

In [8]:
from collections import OrderedDict

col_name = ["Pos","Team","Matches","Points","Rating"]
col_data = OrderedDict(zip(col_name,[A,B,C,D,E]))

In [9]:
#MAKING DATAFRAME
df = pd.DataFrame(col_data)

In [10]:
print(df)

   Pos              Team Matches Points Rating
0    1       New Zealand      17  2,054    121
1    2           England      32  3,793    119
2    3         Australia      28  3,244    116
3    4             India      32  3,624    113
4    5      South Africa      22  2,267    103
5    6          Pakistan      27  2,524     93
6    7        Bangladesh      29  2,639     91
7    8       West Indies      30  2,523     84
8    9         Sri Lanka      29  2,303     79
9   10       Afghanistan      17  1,054     62
10  11       Netherlands       7    336     48
11  12           Ireland      23  1,067     46
12  13          Zimbabwe      17    646     38
13  14          Scotland       7    258     37
14  15              Oman       7    240     34
15  16             Nepal       5    119     24
16  17               UAE       9    190     21
17  18           Namibia       6     97     16
18  19     United States       8     93     12
19  20  Papua New Guinea       5      0      0

In [11]:
import sqlite3

#df.to_csv()

In [12]:
# File based database ( connects if exists or creates a new one if it does not exists ) 
conn = sqlite3.connect ( 'ranking.db' )

In [13]:
#CREATING CURSOR
c = conn.cursor()

In [14]:
#SAVING DB TABLE
df.to_sql("rankingselenium", con=conn, if_exists = 'replace', index=False)

In [15]:
#PRINT FILE DATA
c.execute("SELECT * FROM rankingselenium")
print ([print(i) for i in c.fetchall()] )

('1', 'New Zealand', '17', '2,054', '121')
('2', 'England', '32', '3,793', '119')
('3', 'Australia', '28', '3,244', '116')
('4', 'India', '32', '3,624', '113')
('5', 'South Africa', '22', '2,267', '103')
('6', 'Pakistan', '27', '2,524', '93')
('7', 'Bangladesh', '29', '2,639', '91')
('8', 'West Indies', '30', '2,523', '84')
('9', 'Sri Lanka', '29', '2,303', '79')
('10', 'Afghanistan', '17', '1,054', '62')
('11', 'Netherlands', '7', '336', '48')
('12', 'Ireland', '23', '1,067', '46')
('13', 'Zimbabwe', '17', '646', '38')
('14', 'Scotland', '7', '258', '37')
('15', 'Oman', '7', '240', '34')
('16', 'Nepal', '5', '119', '24')
('17', 'UAE', '9', '190', '21')
('18', 'Namibia', '6', '97', '16')
('19', 'United States', '8', '93', '12')
('20', 'Papua New Guinea', '5', '0', '0')
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [16]:
#EXIT DRIVER
driver.quit()